.centrar{text-align: center;}
#first {width=50%; background-color:yellow;}
#first img {width=50%; height:300px; border-top:10px solid green; border-bottom:10px dashed orange}
#second {width=50%; background-color:purple;}
#second img {width=50%; height:300px; border-top:10px solid green; border-bottom:10px dashed orange}
#first, #second{ margin:50px; padding:30px;}