*{box-sizing:border-box;}
body{background-color:lightgrey;}
.container{
background-color:lightgreen;
border-radius:10 px; 
margin:100px auto; 
position:relative; 
height:600px;
width:80%;
}
.container nav{
background-color:#555555;
position:sticky;
top:0px; 
z-index:60;
}
.container nav div{
color:white;
display:inline-block;
padding;20px;
width:20%;}
figure{
background-color:white;
border:2px solid black;
border-radius:10px;
padding:10px;
text-align:center;
width:25%;
}
figure img{ width:90%;}
figure img:hover{
	z-index:20;
	
}
#li1{
position:absolute;
left:20%;
top:25%;
transform:rotate(45deg);
-webkit-transform:rotate(45deg);
z-index:10;}
#li2{
position:absolute;
left:30%;
top:30%;
transform:rotate(-45deg);
-webkit-transform:rotate(-45deg);
z-index:6;}
#li3{
position:absolute;
left:40%;
top:35%;
transform:rotate(-25deg);
-webkit-transform:rotate(-25deg);
z-index:4;}
#li4{
position:absolute;
left:50%;
top:40%;
transform:rotate(15deg);
-webkit-transform:rotate(15deg);
z-index:2;}
.fixed-sidebar{
border:2px solid black;
border-top-right-radius:10px;
border-bottom-right-radius:10px;
font-size:0.8em;
height:auto;
position:fixed;
top:30%;
width:90px;
}
.fixed-sidebar img{
margin:5%;
width:80%;
}
.fixed-sidebar ul{
list-style-type:none;
}
